* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Yatra One", cursive;
}

:root {
  --color1: #ff5733;
  --color2: #fa8231;
  --color3: #ff0000;
  --color4: #1f2937;
  --color5: #9ca3af;
  --color6: #374151;
}

body {
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color2);
  padding: 1rem;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.7);
}

nav .icon {
  cursor: pointer;
}

nav a {
  text-decoration: none;
  color: white;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color2);
  width: 100%;
  color: white;
  font-size: 1rem;
}

.nav__item h1 {
  font-size: 1.5rem;
  font-weight: 400;
}

.main {
  padding: 7rem 0;
}

.container {
  max-width: 96rem;
  margin: auto;
  padding: 1rem;
}

/* filter */
.filter {
  z-index: -1;
}

.filter-items {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.filter-item {
  list-style: none;
  padding: 0;
}

.filters li {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  border-radius: 8px;
  gap: 1rem;
  border: 2px solid #ff5733;
  transition: all 0.3s;
  cursor: pointer;
  position: relative;
}

.filters li.active,
.filters li:hover {
  color: white;
  background-color: #fa8231;
  box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.7);
}

.badge {
  background-color: #ffffff;
  color: #ff5733;
  border: 2px solid #ff5733;
  font-size: 12px;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: -12px;
  right: -12px;
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.7);
}

.badge-new {
  background-color: #ff0000;
  color: #ffffff;
  font-size: 12px;
  padding: 0 5px;
  width: fit-content;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
  position: absolute;
  top: -15px;
  right: 35%;
  transform: rotate(-15deg);
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.7);
}


/* search */
.search__project__item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.search__project__item .search {
  width: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search__project__item input {
  height: 2.5rem;
  width: 100%;
  padding: 0 0.5rem;
  border: 2px solid var(--color3);
  border-radius: 10px;
  transition: all 0.3s;
  cursor: pointer;
}

.search__project__item input:focus,
.search__project__item input:hover {
  background-color: var(--color2);
  color: white;
  box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.7);
}

::placeholder{
  color: black;
  transition: all 0.3s;
}

.search__project__item input:focus::placeholder,
.search__project__item input:hover::placeholder{
  color: white;
}

/* project count */
.project__count__div{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 1.8rem;
}

.project__count__div p{
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: uppercase;
}

.project__count__div P > * {
  display: none;
}

/* projects */
.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding-top: 2rem;
}

.project__item {
  width: 20rem;
  height: 28rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--color4);
  border: 2px solid var(--color4);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 7px 7px 0px rgba(0, 0, 0, 0.7);
}

.project__item:hover {
  transform: scale(1.05);
  transition: all 0.2s;
}

.project__preview {
  width: 100%;
}

.project__preview img {
  width: 100%;
  object-fit: cover;
}

.project__preview .project__video{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project__details {
  flex: 1;
  padding: 1rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--color5);
}

.project__head {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.5rem;
}

.project__title {
  color: white;
}

.project__tech__stacks{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.project__tech__stack {
  background-color: var(--color6);
  display: inline-flex;
  padding: 0 0.5rem;
  border-radius: 0.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: white;
}

.project__btns {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.project__btn {
  background-color: var(--color2);
  padding: 0.8rem;
  border-radius: 0.5rem;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 3rem;
  height: 3rem;
}

.project__btn:focus {
  outline: none;
  transform: scale(0.95);
}

.project__btn:hover {
  background-color: var(--color1);
}
